.retroLines {
  height: 100%;
  width: 100%;
  display: block;
  background-image: linear-gradient(
      90deg,
      rgba(6, 182, 212, 0.12) 1px,
      rgba(0, 0, 0, 0) 1px
    ),
    linear-gradient(0deg, rgba(6, 182, 212, 0.12) 1px, rgba(0, 0, 0, 0) 1px);
  background-position: bottom;
  background-repeat: repeat;
  background-size: 36px 36px;
  left: -36px;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  transform: perspective(100px) rotateX(60deg);
  z-index: 0;
}
