@font-face {
  font-family: "Flash Back";
  src: url("/assets/fonts/FlashBack.woff2") format("woff2"),
    url("/assets/fonts/FlashBack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
